* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header-container {
    background-color: #1F2937;
    padding: 12px;
    min-width: 800px
}

.header-wrapper {
    width: 800px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 12px;
    margin: 0;
    padding: 0;
}

.header-main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.header-text {
    max-width: 360px;
}

.header-image {
    height: 200px;
    width: 400px;
    background-color: lightgray;
}

.header-logo,
.awesome {
    color: #F9FAF8;
}

.low-contrast,
.header-links a {
    color: #E5E7EB;
    text-decoration: none;
}

.info-container {
    padding: 12px;
    min-width: 800px
}

.info-wrapper {
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

.info-wrapper h2 {
    margin-bottom: 30px;
}

.info-flex {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 60px;
}

.info {
    width: 130px;
}

.info-placeholder {
    height: 130px;
    width: 130px;
    border: 2px solid #3882F6;
    border-radius: 10%;
}

.quote-container {
    min-width: 800px;
    background: #E5E7EB;
}

.quote {
    width: 700px;
    margin: 0 auto;
    padding: 60px 30px 60px 30px;
}

blockquote {
    margin: 0;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

figcaption {
    text-align: right;
    font-weight: bold;
}